@font-face {
    font-family: 'GodOfWar';
    src: url('fuentes/GODOFWAR.TTF') format('truetype');
}

body{
    background-color: white;
    font-family: Arial, sans-serif;
}

h1{
    color: black;
    text-align: center;
}

tolo{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

titulo-tolo{
    font-family: 'GodOfWar', sans-serif;
}
