@font-face {
    font-family: 'GODOFWAR';
    src: url('fuentes/GODOFWAR.TTF') format('truetype');
}

body{
    background-color: white;
    font-family: Arial, sans-serif;
}

h1{
    color: black;
    text-align: center;
}

tolo{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

titulo-tolo{
    font-family: 'GODOFWAR', sans-serif;
}
.grid-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.foto-card {
    width: 150px;
}

.foto-card img {
    width: 100%;
    border-radius: 12px;
}
