body{
    background-color: white;
    font-family: Arial, sans-serif;
}

h1{
    color: black;
    text-align: center;
}

tolo{
    width: 100 px;
    height: auto;
    display: block;
    margin: 0 auto;
}
